<h1 class="text-center">Présentation</h1>

<p>Projet perso sur les listes d'annuaires.</p>

<%= cl_image_tag("https://www.jambonbuzz.com",
                 :type => "url2png",
                 :crop => "fill", :width => 150, :height => 200, :gravity => :north,
                 :sign_url => true) %>