.site {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

/* Body design */
.site-body {
  flex: 1 1 auto;
}
.site-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.site-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* site image */
.site-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

/* Upvote design */
.site-upvote {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.site-upvoted, a.site-upvote.site-upvoted {
  color: #5898f1;
}
.site-upvoted .site-arrow {
  border-bottom-color: #5898f1;
}
a.site-upvote {
  color: black;
}
.site-count {
  margin: 2px 0 0;
}
.site-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

/* Controls design */
.site-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.site-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.site-controls a:hover {
  color: #D3473C !important
}
.site-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.site:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.site-upvote:hover, .site-upvote.site-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.site-upvote-upvoted .site-arrow {
  border-bottom-color: #5898f1;
}
// .site:hover .site-upvote {
//   transform: scale(1.2)
// }
.site:hover .site-controls-hidden a {
  color: #E6E6E6;
}
.site-upvote:hover .site-arrow {
  border-bottom: 9px solid #5898f1;
}